---
import { Image, getImage } from 'astro:assets';
import calendarPc from '../assets/images/calendar-pc.jpg';
import calendarSp from '../assets/images/calendar-sp.jpg';
import noshiImage from '../assets/images/noshi-image.png';
import navArrowSvg from '../assets/icons/nav-arrow.svg?raw';
import closeArrowSvg from '../assets/icons/close-arrow.svg?raw';
import {
  applyBaseUrlToImageResult,
  applyBaseUrl,
} from '../utils/image';

const calendarPcOptimized = applyBaseUrlToImageResult(
  await getImage({ src: calendarPc, format: 'webp' })
);
const calendarSpOptimized = applyBaseUrlToImageResult(
  await getImage({ src: calendarSp, format: 'webp' })
);

// Generate unique clipPath ID using crypto for better uniqueness
const uniqueId = `clip0_${crypto.randomUUID().replace(/-/g, '').substring(0, 9)}`;
// Replace clipPath ID in SVG (replace all occurrences)
let navArrowSvgWithUniqueId = navArrowSvg.replace(/clip0_0_478/g, uniqueId);
// Update SVG attributes to include class, aria-hidden, and set width/height to 12x24
navArrowSvgWithUniqueId = navArrowSvgWithUniqueId.replace(
  'width="24" height="12"',
  'class="p-section-shipping__toggle-icon" aria-hidden="true" width="12" height="24"'
);

// Update close arrow SVG attributes to include class and aria-hidden
let closeArrowSvgWithAttributes = closeArrowSvg.replace(
  '<svg width="16" height="16"',
  '<svg class="p-section-shipping__button-icon p-section-shipping__close-icon" aria-hidden="true" width="16" height="16"'
);
---

<section class='p-section-shipping' id='shipping' aria-labelledby='shipping-title'>
  <div class='l-container'>
    <div class='p-section-shipping__wrapper'>
      <div class='p-section-shipping__inner'>
        <div class='p-section-shipping__preview'>
          <header class='p-section-shipping__header'>
            <div class='p-section-shipping__icon' aria-hidden='true'>
              <Image
                src={noshiImage}
                alt=''
                width={noshiImage.width}
                height={noshiImage.height}
              />
            </div>
            <h2 class='p-section-shipping__title' id='shipping-title'>
              年末年始の発送についての案内
              <span class='p-section-shipping__title-en' aria-hidden='true'
                >SHIPPING SCHEDULE</span
              >
            </h2>
            <div class='p-section-shipping__intro'>
              <p>
                誠に勝手ながら、<br
                  class='is-sm'
                />下記期間中は年末年始休業に伴い出荷・<br
                  class='is-sm'
                />問い合わせ対応ともに休業いたします。
                <br />休業期間中のご注文・お問合せには<br
                  class='is-sm'
                />翌営業日より、順次対応いたします。<br />
                お客様にはご迷惑をお掛け致しますが、<br
                  class='is-sm'
                />ご理解とご協力の程よろしくお願い致します。
              </p>
            </div>
          </header>
          <div class='p-section-shipping__toggle-wrapper'>
            <button
              class='p-section-shipping__button p-section-shipping__toggle'
              aria-expanded='false'
              aria-controls='shipping-content'
              aria-label='詳細を表示'
            >
              詳しく見る
              <span set:html={navArrowSvgWithUniqueId} />
            </button>
          </div>
        </div>

        <div
          class='p-section-shipping__content'
          id='shipping-content'
          aria-labelledby='shipping-title'
        >
          <div class='p-section-shipping__calendar'>
            <h3
              class='p-section-shipping__calendar-title p-section-shipping__block-title'
            >
              <span class='p-section-shipping__block-title-text'
                >休業期間カレンダー</span
              >
            </h3>
            <picture>
              <source
                media='(min-width: 768px)'
                srcset={calendarPcOptimized.src}
                width={calendarPc.width}
                height={calendarPc.height}
              />
              <img
                src={calendarSpOptimized.src}
                alt='年末年始休業期間カレンダー'
                class='p-section-shipping__calendar-image'
                width={calendarSp.width}
                height={calendarSp.height}
                loading='lazy'
              />
            </picture>
          </div>
          <div class='p-section-shipping__blocks'>
            <div class='p-section-shipping__block'>
              <h3 class='p-section-shipping__block-title'>
                <span class='p-section-shipping__block-title-text'
                  >お届け指定日時について</span
                >
              </h3>
              <div class='p-section-shipping__block-text'>
                <p>
                  年内最終出荷日が12月25日(木)のため、ヤマト運輸の保管期間の都合上、お届け指定日1月2日(金)～1月7日(水)のご希望は承れません。
                  また、商品の在庫状況により、お届け指定日のご希望に沿えない場合もございます。
                </p>
              </div>
            </div>
            <div class='p-section-shipping__block'>
              <h3 class='p-section-shipping__block-title'>
                <span class='p-section-shipping__block-title-text'
                  >お支払いについて</span
                >
              </h3>
              <div class='p-section-shipping__block-text'>
                <p>
                  原則、午前9:00までに承認・入金の確認が取れているご注文のみ順次、出荷対応いたします。
                </p>
                <div class='p-section-shipping__subblock'>
                  <h4 class='p-section-shipping__subblock-title'>
                    ＜コンビニ前払い・ 銀行振込をご選択のお客様へ＞
                  </h4>
                  <div class='p-section-shipping__subblock-text'>
                    <p>
                     ご入金されてから当店へ連絡が入るまで時間がかかります。休業前の出荷をご希望の場合は、12月23日(火)午前9時までにご入金をお願い致します。
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class='p-section-shipping__block'>
              <h3 class='p-section-shipping__block-title'>
                <span class='p-section-shipping__block-title-text'
                  >ご連絡・お問合せについて</span
                >
              </h3>
              <div class='p-section-shipping__block-text'>
                <ul class='p-section-shipping__list'>
                  <li class='p-section-shipping__list-item'>
                    弊社休業日中はお電話がつながらなくなっております。再配達等、お荷物のご対応に関しましては、当店からお送りしている出荷通知をご確認の上、配送業者に直接ご連絡ください。
                  </li>
                  <li class='p-section-shipping__list-item'>
                    ご注文・メールでのお問い合わせは受付けております。注文の確認メール・お問い合わせメールにつきましては、営業日に順次対応致します。ご不便をお掛け致しますが、何卒ご容赦賜りますようお願い申し上げます。                  </li>
                </ul>
              </div>
            </div>
            <div class='p-section-shipping__block'>
              <h3 class='p-section-shipping__block-title'>
                <span class='p-section-shipping__block-title-text'>ご注意</span>
              </h3>
              <div class='p-section-shipping__block-text'>
                <ul class='p-section-shipping__list'>
                  <li class='p-section-shipping__list-item'>
                    ご注文内容に不備、確認事項がある場合、お客様のお返事をお待ちしてからの出荷となります。
                  </li>
                  <li class='p-section-shipping__list-item'>
                    ご不明な点がある際は、事前にご確認いただいてからのご注文をお願い致します。
                  </li>
                  <li class='p-section-shipping__list-item'>
                    お支払いや配送については、ご利用ガイドをご参照ください。
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='p-section-shipping__close-wrapper'>
          <button
            class='p-section-shipping__button p-section-shipping__close'
            aria-expanded='true'
            aria-label='閉じる'
            aria-controls='shipping-content'
          >
            閉じる
            <span set:html={closeArrowSvgWithAttributes} />
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- 装飾要素 -->
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration-bird'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-bird.svg')} alt='' width='75' height='68' />
  </div>
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration-cloud-top-right'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-1.svg')} alt='' width='381' height='150' />
  </div>
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration-cloud-middle-left'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-1.svg')} alt='' width='381' height='150' />
  </div>
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration-cloud-bottom-right'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-2.svg')} alt='' width='381' height='150' />
  </div>
  <div
    class='p-section-shipping__decoration p-section-shipping__decoration-pattern-left'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-matu-2.svg')} alt='' width='346' height='319' />
  </div>
</section>
