---
import ProductCard from '../components/ProductCard.astro';
import { partyProducts } from '../data/products';
import SectionTitle from '../components/SectionTitle.astro';
import partyItem1 from '../assets/images/party-item-1.png';
import partyItem2 from '../assets/images/party-item-2.png';
import partyItem3 from '../assets/images/party-item-3.png';
import partyItem4 from '../assets/images/party-item-4.png';
import { applyBaseUrl } from '../utils/image';

const productsWithImages = [
  {
    ...partyProducts[0],
    image: { src: partyItem1, alt: '森半お茶屋のスイーツ満足セット' },
  },
  {
    ...partyProducts[1],
    image: { src: partyItem2, alt: '抹茶スイーツお試しセット' },
  },
  {
    ...partyProducts[2],
    image: { src: partyItem3, alt: 'MINTON 和紅茶 4箱ギフトセット' },
  },
  {
    ...partyProducts[3],
    image: { src: partyItem4, alt: 'KFK ロマンスコーヒーセレクションギフトセット' },
  },
];
---

<section id='party' class='p-section-party' aria-labelledby='party-title'>
  <div class='l-container'>
    <div class='p-section-party__inner'>
      <SectionTitle id='party-title' titleEn='PARTY TIME' titleJp='"集まり"のおともに' />
      <ul class='p-section-party__products'>
        {
          productsWithImages.map((product) => (
              <ProductCard
                title={product.title}
                price={product.price}
                description={product.description}
                buttonText={product.buttonText}
                buttonHref={product.buttonHref}
                image={product.image}
              />
          ))
        }
      </ul>
    </div>
  </div>
  <!-- 装飾要素 -->
  <div
    class='p-section-party__decoration p-section-party__decoration-geometry-top'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-kumo-4.svg')} alt='' width='500' height='196' />
  </div>
  <div
    class='p-section-party__decoration p-section-party__decoration-cloud-right'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-1.svg')} alt='' width='381' height='150' />
  </div>
  <div
    class='p-section-party__decoration p-section-party__decoration-cloud-left'
    aria-hidden='true'
  >
    <img src={applyBaseUrl('/assets/images/svg/deco-wa-sozai-2.svg')} alt='' width='381' height='150' />
  </div>
</section>
